<div class="container p-4 mx-auto"><h1><%= @result[:message] %></h1>
<p>Word: "<%= params[:answer] %>" Score: <%= @result[:score] %> Time: <%= @result[:time] %></p>
<%= link_to "Play Again!", new_path %></div>
